.container {
  background-color: #555555;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.card {
  background-color: #f0f0f0;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333
}

/* Button Styling */
.button {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 14px;
  cursor: pointer;
}

.button.green { background-color: #28a745; }
.button.orange { background-color: #ffc107; }
.button.purple { background-color: #6f42c1; }

/* Hover Effect */
.button:hover {
  opacity: 0.9;
}